.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 25px;
}

.mask
{
  font-size: 3rem;
  display: inline-block;
  margin: 50px auto;
}

.ended
{
  display: block !important;
}

#menu
{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.8);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  display: none;
}

#menu > h2
{
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 200px;
  margin-bottom: 100px;
}

#menu > button
{
  width: 170px;
  height: 70px;
  background: none;
  border: #42bcf4 4px solid;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 50px;
}

#menu > button:hover
{
  cursor: pointer;
  background-color: #42bcf4;
}

section
{
  padding-top: 50px;
}

canvas
{
  border: white 4px dashed;
  border-radius: 25px;
  /*height: 400px;
  width: 400px;*/
}

@media (max-width: 576px) {
  canvas{
    transform: scale(.5);
  }
  section{
    width: 100vw;
  }
  .App-header {
    height: 50%;
  }
}
